<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="OrdersFormList" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
    <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;">
        <link rel="stylesheet" type="text/css" th:href="@{/css/imgs/orders/orders.css}"/>
        <div class="icon-OrdersIconDirectory" style="display:table-cell;width:53px;height:53px;">
        </div>

        <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding-left:5px;">
            <span style="">Список заявок</span>

        </div>

    </div>

    </div>
    <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  th:id="${prefix}+'dgOrders_Module_Orders'" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'get',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
    <tr></tr></thead>
    </table>

    </div>
    <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="display:table;width:100%;">
        <div style="display:table-cell;padding:3px;">
            <a  th:id="${prefix}+'btnAdd_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnChange_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnDelete_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnUpdate_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnFilter_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-formFilter',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnFilterParams_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-formFilterParams',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnExcel_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'В Excel',iconCls:'icon-excel',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'sBtnPrint_Module_Orders'"  href="javascript:void(0)" class="easyui-splitbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Печать',iconCls:'icon-print',iconAlign:'left',size:'small',menu:'',menuAlign:'left',duration:100,showEvent:'mousedown',hideEvent:'mouseleave',hasDownArrow:true"></a>

        </div>

        <div  th:id="${prefix}+'pOkCancel_Module_Orders'" style="display:table-cell;width:150px;padding:3px;text-align:right;visibility:hidden;">
            <a  th:id="${prefix}+'btnOk_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

            <a  th:id="${prefix}+'btnCancel_Module_Orders'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

        </div>

    </div>

    </div>
    <div  th:id="${prefix}+'printMenu_Module_Orders'"  class="easyui-menu" data-options="zIndex:110000,left:0,top:0,align:'left',minWidth:120,itemHeight:22,duration:100,hideOnUnhover:false,inline:false,fit:false"><div  id="miSelectedOrders_Module_Orders" data-options="disabled:false,iconCls:'icon-file'">Выделенные заявки</div>

        <div  id="miPrintJournals_Module_Orders" data-options="disabled:false,iconCls:'icon-file'">Журналы</div>

    </div>

</div>
</body>
</html>
