.icon-amortise{
    background: url('amortise.png') no-repeat center center;
    background-size:cover;
}

.icon-editwear{
    background: url('editwear.png') no-repeat center center;
    background-size:cover;
}