<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="jrObjectList" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
    <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;">
        <div style="display:table;">
        <div class="icon-large-smartart" style="display:table-cell;width:53px;height:53px;"></div>
        <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding-left:5px;">
            Построение ведомости списка объектов
        </div>
    </div>
    </div>
    <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;">
        <div style="height:50px;">
    </div>
        <div style="display:table;">
            <div style="display:table-row;">
                <div style="display:table-cell;width:200px;padding-right:15px;text-align:right;">
                    <span style="">На дату</span>
                </div>
                <div style="display:table-cell;" id="div_dtDateBeg_jrL">
                    <input th:id="${prefix}+'dtDateBeg_Module_jrObjectList'"  type="text" class="easyui-datebox" data-options="panelWidth:250,currentText:'Сегодня',closeText:'Закрыть',okText:'Ок',disabled:false"/>
                </div>
            </div>
            <div style="display:table-row;height:15px;">
            </div>
            <div style="display:table-row;">
                <div style="display:table-cell;padding-right:15px;text-align:right;">
                    <span style="">Выберите район</span>
                </div>
                <div style="display:table-cell;">
                    <div  th:id="${prefix}+'divcbArea_Module_jrObjectList'" style="display:inline-block;">
                        <select th:id="${prefix}+'cbArea_Module_jrObjectList'"  class="easyui-combobox" data-options="height:30,width:300,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                        </select>
                    </div>
                </div>
            </div>
            <div style="display:table-row;height:15px;"></div>
            <div style="display:table-row;">
                <div style="display:table-cell;padding-right:15px;text-align:right;">
                    <span style="">Номер комнаты</span>
                </div>
                <div style="display:table-cell;">
                    <div  th:id="${prefix}+'divcbNum_Module_jrObjectList'" style="display:inline-block;">
                        <select th:id="${prefix}+'cbNum_Module_jrObjectList'"  class="easyui-combobox" data-options="height:30,width:300,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;">
        <div style="display:table;width:100%;">
        <div style="display:table-cell;padding:3px;"></div>
        <div style="display:table-cell;width:150px;padding:3px;text-align:right;">
            <a th:id="${prefix}+'btnOk_Module_jrObjectList'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>
            <a th:id="${prefix}+'btnCancel_Module_jrObjectList'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>
        </div>
    </div>
    </div>
</div>
</body>
</html>