<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--ВНИМАНИЕ! Добавлен фрагмент th:fragment="ObjsFormEdit"-->
<div th:fragment="ObjsFormEdit" class="easyui-window" id="wObjsFormEdit_Module_Objs"
     data-options="title:'Работа с объектом',width:940,height:581,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">

    <!--ВНИМАНИЕ! Добавлен фрагмент вручную-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/imgs/objs/objs.css}"/>

    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:false">
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:55px;">
            <div style="display:table;height:53px;">

                <div Id="pbEditMode_Objs_ObjsFormEdit" class="icon-addmode" style="display:table-cell;width:55px;">
                </div>

                <div style="display:table-cell;vertical-align:middle;font-weight:bold; padding:3px">
                    <div style="font-weight:bold;padding:3px">
                        <span style="">Работа с объектом</span>

                        <span id="IDate_Module_Objs_ObjsFormEdit" style=""><i>за дату</i></span>

                    </div>

                    <div style="padding:3px">
                        <span id="lAction_Module_Objs_ObjsFormEdit" style="">lAction</span>

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:100%;">
            <div id="tTabs_Module_Objs_ObjsFormEdit" class="easyui-tabs"
                 data-options="fit:false,plain:false,border:true,scrollIncrement:100,scrollDuration:400,tabPosition:'top',headerWith:150,tabHeight:27,selected:0,showHeader:true,justified:false,narrow:false,pill:false">
                <div id="pgBasic_Module_Objs_ObjsFormEdit"
                     data-options="content:'',cache:true,collapsible:false,closable:false,selected:false,disabled:false"
                     title="Основаные данные">
                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:45px;height:5px;">
                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:45px;">
                            </div>

                            <div style="display:table-cell;width:145px;text-align:right;">
                                <span style="">Индентификатор</span>

                            </div>

                            <div style="display:table-cell;padding:3px">
                                <input id="txId_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:100px;">
                            </div>

                            <div style="display:table-cell;width:90px;text-align:right;">
                                <span style="">Счет объекта</span>

                            </div>

                            <div Id="cbAccs_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <select id="cbAccs_Module_Objs_ObjsFormEdit" class="easyui-combobox"
                                        data-options="height:30,width:440,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                                </select>
                            </div>
                            <div style="display:table-cell;width:120px;text-align:right;">
                                <span style="">Количество</span>

                            </div>

                            <div Id="txCountObjs_Objs_ObjsFormEdit_toolTip" style="display:table-cell;padding:3px">
                                <input id="txCountObjs_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:60,prompt:'',value:'1',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

<!--                            <div style="display:table-cell;padding:3px">-->
<!--                                <input id="cbCheckSer_Module_Objs_ObjsFormEdit"-->
<!--                                       data-options="with:20,height:20,checked:false,disabled:false,label:'Серия',labelWidth:45,labelPosition:'before',labelAlign:'left'"-->
<!--                                       class="easyui-checkbox"/>-->

<!--                            </div>-->

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:20px;">
                            </div>

                            <div style="display:table-cell;width:170px;text-align:right;">
                                <span style="">Группа инвентарного учета</span>

                            </div>

                            <div Id="cbInvGrps_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <select id="cbInvGrps_Module_Objs_ObjsFormEdit" class="easyui-combobox"
                                        data-options="height:30,width:440,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                                </select>
                            </div>
                            <div style="display:table-cell;width:120px;text-align:right;">
                                <span style="">Процент изсноса</span>

                            </div>

                            <div style="display:table-cell;width:20px;padding:3px">
                                <input id="txWearMthds_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:90,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>
                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:60px;">
                            </div>

                            <div style="display:table-cell;width:130px;text-align:right;">
                                <span style="">Инвентарный номер</span>

                            </div>

                            <div Id="txInvNo_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <input id="txInvNo_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:95,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                            <div style="display:table-cell;padding:3px">
                                <input id="txInvSer_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:95,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                            <div style="display:table-cell;width:20px;text-align:right;">
                                <span style="">Тип</span>

                            </div>

                            <div Id="txObjType_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <input id="txObjType_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:450,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                            <a id="btnAddObjsType_Module_Objs_ObjsFormEdit" href="javascript:void(0)"
                               class="easyui-linkbutton"
                               data-options="disabled:false,height:30,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-ObjsFile',iconAlign:'left',size:'small'"></a>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:45px;">
                            </div>

                            <div style="display:table-cell;width:145px;text-align:right;">
                                <span style="">Наименование</span>

                            </div>

                            <div Id="txName_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <input id="txName_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:675,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                            <div style="display:table-cell;">
                                <a id="btnImgObjs_Module_Objs_ObjsFormEdit" href="javascript:void(0)"
                                   class="easyui-linkbutton"
                                   data-options="disabled:false,width:30,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-ObjsView_bw',iconAlign:'left',size:'small'"></a>

                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:45px;">
                            </div>

                            <div style="display:table-cell;width:145px;text-align:right;">
                                <span style="">Описание</span>

                            </div>

                            <div style="display:table-cell;padding:3px">
                                <input id="txDescr_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:715,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:115px;">
                            </div>

                            <div style="display:table-cell;width:75px;text-align:right;">
                                <span style="">Тип фонда</span>

                            </div>

                            <div Id="cbTypeFonds_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <select id="cbTypeFonds_Module_Objs_ObjsFormEdit" class="easyui-combobox"
                                        data-options="height:30,width:300,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                                </select>
                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:145px;">
                            </div>

                            <div style="display:table-cell;width:45px;text-align:right;">
                                <span style="">КЭКР</span>

                            </div>

                            <div Id="cbKekr_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <select id="cbKekr_Module_Objs_ObjsFormEdit" class="easyui-combobox"
                                        data-options="height:30,width:505,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                                </select>
                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:20px;">
                            </div>

                            <div style="display:table-cell;width:170px;text-align:right;">
                                <span style="">Первоночальная стоимость</span>

                            </div>

                            <div Id="txStrtAmount_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <input id="txStrtAmount_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:122,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                        </div>

                    </div>

                </div>
                <div id="pgContin_Module_Objs_ObjsFormEdit"
                     data-options="content:'',cache:true,collapsible:false,closable:false,selected:false,disabled:false"
                     title="Дополнительно">
                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:45px;height:5px;">
                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:60px;">
                            </div>

                            <div style="display:table-cell;width:130px;text-align:right;">
                                <span style="">Дата приобретения</span>

                            </div>

                            <!--ВНИМАНИЕ! Добавлен фрагмент editable:false - что бы DateBox не было возможности писать что-либо-->
                            <div Id="dtDateBuy_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <input id="dtDateBuy_Module_Objs_ObjsFormEdit" type="text"
                                       class="easyui-datebox"
                                       data-options="panelWidth:250,currentText:'Сегодня',closeText:'Закрыть',okText:'Ок',disabled:false,editable:false"/>

                            </div>

                            <a id="btnObjsExpl_Module_Objs_ObjsFormEdit" href="javascript:void(0)"
                               class="easyui-linkbutton"
                               data-options="disabled:false,height:30,toggle:false,selected:false,plain:false,text:'Ввод/вывод объекта',iconCls:'icon-ObjsDateTime',iconAlign:'left',size:'small'"></a>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:15px;">
                            </div>

                            <div style="display:table-cell;width:175px;text-align:right;">
                                <span style="">Дата ввода в эксплуатацию</span>

                            </div>

                            <div style="display:table-cell;padding:3px;">
                                <input id="txDateBeg_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:160,prompt:'',value:'Не эксплуатируется',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                            <div style="display:table-cell;width:180px;text-align:right;">
                                <span id="lDateEnd_Module_Objs_ObjsFormEdit" style="">Дата ликвидации объекта</span>

                            </div>

                            <div style="display:table-cell;padding:3px;">
                                <input id="txDateLikv_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:160,prompt:'',value:'Не ликвидирован',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                            <div style="display:table-cell;width:120px;text-align:right;">
                                <span style="">Единица измерения</span>

                            </div>

                            <div Id="cbUnits_Module_Objs_ObjsFormEdit_toolTip"
                                 style="display:table-cell;padding:3px">
                                <select id="cbUnits_Module_Objs_ObjsFormEdit" class="easyui-combobox"
                                        data-options="height:30,width:65,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                                </select>
                            </div>

                        </div>

                    </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:110px;">
                            </div>

                            <div style="display:table-cell;width:80px;text-align:right;">
                                <span style="">Примечание</span>

                            </div>

                            <div style="display:table-cell;padding:3px">
                                <input id="txInfo_Module_Objs_ObjsFormEdit" class="easyui-textbox"
                                       data-options="multiline:false,width:720,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                       type="text"/>

                            </div>

                        </div>

                    </div>

                    <div style="display:block;height:220px;">
                        <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true">
                            <div Id="dEditorIndexLP_Module_ObjsFormEdit" style="visibility: hidden">-1</div>
                            <div id="lListParams_Module_ObjsFormEdit"
                                 data-options="region:'west',collapsible:false,split:false,title:'Дополнительные реквизиты',border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
                                 style="width:460px;height:100%;">
                                <!--ВНИМАНИЕ! Добавлен фрагмент <div Id="dEditorIndexLP_Module_ObjsFormEdit" style="visibility: hidden">-1</div>-->

                                <table id="dgListParams_Module_Objs_ObjsFormEdit" class="easyui-datagrid"
                                       data-options="fitColumns:false,autoRowHeight:true,striped:false,method:'get',nowrap:true,loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:false,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24"
                                       width="100%" height="100%">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                </table>
                            </div>
                            <!--ВНИМАНИЕ! Добавлен фрагмент   <div Id="dEditorIndexPP_Module_ObjsFormEdit" style="visibility: hidden">-1</div>-->
                            <div Id="dEditorIndexPP_Module_ObjsFormEdit" style="visibility: hidden">-1</div>
                            <div Id="lPeriodParams_Module_ObjsFormEdit"
                                 data-options="region:'center',collapsible:false,split:false,title:'Периодические реквизиты',border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
                                 style="width:460px;height:100%;">
                                <table id="dgPeriodParams_Module_Objs_ObjsFormEdit" class="easyui-datagrid"
                                       data-options="fitColumns:false,autoRowHeight:true,striped:false,method:'get',nowrap:true,loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:false,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24"
                                       width="100%" height="100%">
                                    <thead>
                                    <tr></tr>
                                    </thead>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div style="">
                <div style="display:table;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;width:200px;">
                        </div>

                        <div style="display:table-cell;width:80;text-align:right;">
                            <span style="">Создал</span>

                        </div>

                        <div style="display:table-cell;padding:5px">
                            <input id="txCreator_Modul_Objs_ObjsFormEdit" class="easyui-textbox"
                                   data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                   type="text"/>

                        </div>

                        <div style="display:table-cell;text-align:rigth; padding:3px;">
                            <span style="">Создано</span>

                        </div>

                        <div style="display:table-cell;padding:3px;">
                            <input id="txCreated_Modul_Objs_ObjsFormEdit" class="easyui-textbox"
                                   data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                   type="text"/>

                        </div>

                    </div>

                    <div style="display:table-row;">
                        <div style="display:table-cell;width:90px;">
                        </div>

                        <div style="display:table-cell;text-align:right;padding:10px;">
                            <span style="">Изменил</span>

                        </div>

                        <div style="display:table-cell;padding:5px">
                            <input id="txChanger_Modul_Objs_ObjsFormEdit" class="easyui-textbox"
                                   data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                   type="text"/>

                        </div>

                        <div style="display:table-cell;text-align:rigth; padding:3px;">
                            <span style="">Изменено</span>

                        </div>

                        <div style="display:table-cell;padding:3px;">
                            <input id="txChanged_Modul_Objs_ObjsFormEdit" class="easyui-textbox"
                                   data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"
                                   type="text"/>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:38px;">
            <div style="height:33px;text-align:right;padding:3px">
                <a id="btnOk_Module_Objs_ObjsFormEdit" href="javascript:void(0)" class="easyui-linkbutton"
                   data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                <a id="btnCancel_Module_Objs_ObjsFormEdit" href="javascript:void(0)" class="easyui-linkbutton"
                   data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

            </div>

        </div>
    </div>

</div>

</body>
</html>