<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="InvsFormList"  th:remove="tag" >
    <div class="easyui-layout" style="width:100%;height:73%;" data-options="fit:false" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;">
            <link rel="stylesheet" type="text/css" th:href="@{/css/imgs/invs/invs.css}"/>
            <div class="icon-InvsIconDirectory" style="display:table-cell;width:60px;height:50px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding-left:5px;">
                <span style=""> Список инвентаризаций</span>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  th:id="${prefix}+'dgInvs_Module_Invs'" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'get',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
        <tr><th data-options="title:'ID',field:'id',width:100,sortable:true,resizable:true,fixed:true"></th>
            <th data-options="title:'Наименование инвентаризации',field:'name',width:10000,sortable:true,resizable:true"></th>
            <th data-options="title:'Номер приказа',field:'order_numb',width:10000,sortable:true,resizable:true"></th>
            <th data-options="title:'Дата начала инвентаризации',field:'date_begin',width:10000,sortable:true,resizable:true"></th>
            <th data-options="title:'Дата окончания инвентаризации',field:'date_end',width:10000,sortable:true,resizable:true"></th>
        </tr></thead>
        </table>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="display:table;width:100%;">
            <div style="display:table-cell;padding:3px;">
                <a  th:id="${prefix}+'btnAddInvs_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

                <a  th:id="${prefix}+'btnChangeInvs_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

                <a  th:id="${prefix}+'btnDeleteInvs_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                <a  th:id="${prefix}+'btnUpdateInvs_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

            </div>

        </div>

        </div>
    </div>

    <div class="easyui-layout" style="width:100%;height:27%;" data-options="fit:false" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:20px;"><div style="display:table;">
            <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding-left:5px;">
                <span style="">Члены комисии</span>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:50%;height:100%;"><table  th:id="${prefix}+'dgInvsCommis_Module_Invs'" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'get',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
        <tr><th data-options="title:'ID',field:'id',width:100,sortable:true,resizable:true,fixed:true"></th>
            <th data-options="title:'Номер п/п',field:'nom',width:10000,sortable:true,resizable:true"></th>
            <th data-options="title:'Должность',field:'post',width:10000,sortable:true,resizable:true"></th>
            <th data-options="title:'ФИО',field:'name',width:10000,sortable:true,resizable:true"></th>
        </tr></thead>
        </table>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="display:table;width:100%;">
            <div style="display:table-cell;padding:3px;">
                <a  th:id="${prefix}+'btnAddInvsCommis_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

                <a  th:id="${prefix}+'btnChangeInvsCommis_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

                <a  th:id="${prefix}+'btnDeleteInvsCommis_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                <a  th:id="${prefix}+'btnUpdateInvsCommis_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>


            </div>

            <div  th:id="${prefix}+'pOkCancel_Module_Invs'" style="display:table-cell;width:150px;padding:3px;text-align:right;visibility:hidden">
                <a  th:id="${prefix}+'btnOkInvs_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                <a  th:id="${prefix}+'btnCancelInvs_Module_Invs'"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

            </div>

        </div>

        </div>
    </div>


</div>

</body>
</html>