.icon-ObjsList{
    background: url('./ObjsList.png') no-repeat center center;
    background-size: cover;
}
.icon-ObjsTools{
    background: url('./ObjsTools.png') no-repeat center center;
    background-size: cover;
}
.icon-ObjsFilt{
    background: url('./ObjsFilt.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsFilter{
    background: url('./ObjsFilter.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsClear{
    background: url('./ObjsClear.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsFile{
    background: url('./ObjsFile.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsSettings{
    background: url('./ObjsSettings.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsTickDark{
    background: url('./ObjsTickDark.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsCloseDark{
    background: url('./ObjsCloseDark.png') no-repeat center center;
    background-size: cover;
}
.icon-ObjsView_bw{
    background: url('./ObjsView_bw.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsView{
    background: url('./ObjsView.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsDelete{
    background: url('./ObjsDelete.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsDateTime{
    background: url('./ObjsDateTime.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsExpl{
    background: url('./ObjsExpl.png') no-repeat center center;
    background-size: cover;
}

.icon-ObjsExplIcon{
    background: url('./ObjsExplIcon.ico') no-repeat center center;
    background-size: cover;
}

