.icon-grayEye {
    background: url('imgGray16.png') no-repeat center center;
}

.icon-blueEye{
    background: url('imgBlue16.png') no-repeat center center;
}

.icon-mainOrder{
    background: url('orderPic53px.png') no-repeat center center;
}
