<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title    </title>
</head>
<body>
<div th:fragment="UnitsFormEdit" class="easyui-window" id="wUnitsFormEdit_Module_Units"  data-options="title:'Работа с единицами измерения',width:712,height:440,collapsible:false,minimizable:false,maximizable:true,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;height:53px;">
            <div  Id="pbEditMode_Units_UnitsFormEdit" class="icon-addmode" style="display:table-cell;width:55px;">
            </div>

            <div style="display:table-cell;vertical-align:middle;">
                <div style="font-weight:bold; padding:3px;">
                    <span style="">Работа с единицами измерения</span>

                </div>

                <div style="padding:3px;">
                    <span id="lAction_Module_Units"  style="">lAction</span>

                </div>

            </div>

        </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div style="display:table;margin-top:10">
            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:165px;text-align: right">
                    <span style="">Идентификатор</span>

                </div>

                <div style="display:table-cell;padding:10px">
                    <input  id="txId_Module_Units"  class="easyui-textbox" data-options="multiline:false,width:150,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:100px;text-align: right">
                    <span style="">Код</span>

                </div>

                <div style="display:table-cell;padding:10px">

                    <div  Id="divtbCode_Module_Units" style="display:inline-block;">
                        <input  id="txCode_Module_Units"  class="easyui-textbox" data-options="multiline:false,width:150,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />
                    </div>
                </div>

            </div>

            <div style="display:table-row;">
                <div style="display:table-cell;width:15px;">
                </div>

                <div style="display:table-cell;width:165px;text-align: right">
                    <span style="">Наименование</span>

                </div>

                <div style="display:table-cell;padding:10px">
                    <div  Id="divtbName_Module_Units" style="display:inline-block;">
                        <input  id="txName_Module_Units"  class="easyui-textbox" data-options="multiline:false,width:400,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />
                    </div>
                </div>

            </div>

        </div>

            <div style="display:table;margin-top: 72px">
                <div style="">
                    <div style="display:table-cell;width:23px;">
                    </div>

                    <div style="display:table-cell;width:20px;">
                        <span style="">Создал</span>

                    </div>

                    <div style="display:table-cell;padding:5px">
                        <input  id="txCreator_Module_Units"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                    <div style="display:table-cell;width:24px;">
                    </div>

                    <div style="display:table-cell;width:20px;">
                        <span style="">Создано</span>

                    </div>

                    <div style="display:table-cell;padding:5px">
                        <input  id="txCreated_Module_Units"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                </div>

                <div style="">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:20px;">
                        <span style="">Изменил</span>

                    </div>

                    <div style="display:table-cell;padding:5px">
                        <input  id="txChanger_Module_Units"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                    <div style="display:table-cell;width:14px;">
                    </div>

                    <div style="display:table-cell;width:20px;">
                        <span style="">Изменено</span>

                    </div>

                    <div style="display:table-cell;padding:5px">
                        <input  id="txChanged_Module_Units"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'" />

                    </div>

                </div>

            </div>

            <div style="display:table;">
            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;"><div style="height:33px;text-align:right;padding:3px;">
            <a  id="btnOk_Module_Units"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

            <a  id="btnCancel_Module_Units"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

        </div>

        </div>
    </div>

</div>


</body>
</html>