<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:fragment="OrderListTypePermitsEdit" class="easyui-window" id="wOrderListTypePermitsEdit_Module_OrderListTypePermits"  data-options="title:'Работа с записью',width:712,height:440,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
        <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
            <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;height:53px;">
                <div  Id="pbEditMode_Kter_KterFormEdit" class="icon-addmode" style="display:table-cell;width:55px;">
                </div>
                <div style="display:table-cell;vertical-align:middle;">
                    <div style="font-weight:bold; padding:3px;">
                        <span style="">Добавление записи</span>

                    </div>

                    <div style="padding:3px;">
                        <span id="lAction_Module_OrderListTypePermits_OrderListTypePermitsEdit"  style="">lAction</span>

                    </div>

                </div>

            </div>

            </div>
            <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:5px;">
                    </div>

                    <div style="display:table-cell;width:80px;text-align: right">
                        <span style="">Идентификатор</span>

                    </div>

                    <div style="display:table-cell;padding:10px">
                        <input  id="txId_Module_OrderListTypePermits_OrderListTypePermitsEdit"  class="easyui-textbox" data-options="multiline:false,width:70,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:80px;text-align: right">
                        <span style="">Тип заявки</span>

                    </div>

                    <div style="display:table-cell;padding:10px">
                        <input  id="txOrderType_Module_OrderListTypePermits_OrderListTypePermitsEdit."  class="easyui-textbox" data-options="multiline:false,width:400,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                    </div>

                </div>

                <div style="display:table-row;margin-top:110px">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:80px;text-align: right">
                        <span style="">Реквизит</span>

                    </div>

                    <div style="padding:10px">
                        <div style="padding:3px;display:inline;" id="txListParam_Module_OrderListTypePermits_toolTip">
                        <input  id="txListParam_Module_OrderListTypePermits"  class="easyui-textbox" data-options="multiline:false,width:400,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                        <a  id="btnOpenModul_Module_OrderListTypePermitsEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'.... ',iconAlign:'left',size:'small'"></a>
                        </div>
                        <a  id="btnClear_Module_OrderListTypePermits_OrderListTypePermitsEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-clear',iconAlign:'left',size:'small'"></a>
                    </div>
                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;;">
                    </div>

                    <div style="display:table-cell;width:165px;;text-align:right;">
                        <span style="">Видимость</span>

                    </div>

                    <div style="display:table-cell;padding:10px;">
                        <input id="cbVisible_Module_OrderListTypePermitsEdit" data-options="with:20,height:20,checked:false,disabled:false,labelPosition:'before',labelAlign:'left'" class="easyui-checkbox"/>


                    </div>
                </div>
            </div>

                <div style="display:table;margin-top:25px">
                    <div style="">
                        <div style="display:table-cell;width:15px;">
                        </div>

                        <div style="display:table-cell;width:20px;">
                            <span style="">Создал</span>

                        </div>

                        <div style="display:table-cell;padding:10px">
                            <input  id="txCreator_Module_OrderListTypePermits_OrderListTypePermitsEdit"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                            <span style="">Создано      </span>

                            <input  id="txCreated_Module_OrderListTypePermits_OrderListTypePermitsEdit"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                        </div>

                    </div>

                    <div style="">
                        <div style="display:table-cell;width:15px;">
                        </div>

                        <div style="display:table-cell;width:3px;">
                            <span style="">Изменил</span>

                        </div>

                        <div style="display:table-cell;">
                            <input  id="txChanger_Module_OrderListTypePermits_OrderListTypePermitsEdit"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                            <span style="">Измененно</span>

                            <input  id="txChanged_Module_OrderListTypePermits_OrderListTypePermitsEdit"  class="easyui-textbox" data-options="multiline:false,width:250,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                        </div>

                    </div>

                </div>

                <div style="display:table;">
                </div>

            </div>
            <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:38px;"><div style="height:33px;text-align:right;padding:3px;">
                <a  id="btnOk_Module_OrderListTypePermits_OrderListTypePermitsEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                <a  id="btnCancel_Module_OrderListTypePermits_OrderListTypePermitsEdit"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

            </div>

            </div>
        </div>

    </div>




</body>
</html>