<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="ListTransList" class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/imgs/listtrans/ListTransIcon.css}"/>
    <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;">
        <div class="cssclass: icon-ListTransIcon" style="display:table-cell;vertical-align:middle;width:53px;height:53px;">
        </div>

        <div style="vertical-align:middle;font-weight:bold;padding-left:5px;margin-top: 18px">
            <span style="">Список сохраненных доп.реквизитов карточек объектов</span>

        </div>

    </div>

    </div>
    <div  data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  id="dgListTrans_Module_ListTrans" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'get',nowrap:true,idField:'id',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:true,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
    <tr><th data-options="title:'ID',field:'id',width:80,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Номер',field:'number',width:70,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Дата',field:'data',width:130,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Тип',field:'type',width:160,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Инвентарный номер',field:'inv',width:150,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Наименование объекта ',field:'objname',width:180,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Реквизит',field:'liname',width:220,sortable:true,resizable:true,fixed:true"></th>
        <th data-options="title:'Значение',field:'values',width:1000000,sortable:true,resizable:true,fixed:false"></th>
    </tr></thead>
    </table>

    </div>
    <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="">
        <div style="display:table;width:100%;">
            <div style="display:table-cell;padding:3px;">
                <a  id="btnAdd_Module_ListTrans"  href="javascript:void(0)"  data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Добавить ',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

                <a  id="btnChange_Module_ListTrans"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

                <a  id="btnDelete_Module_ListTrans"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:true,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                <a  id="btnUpdate_Module_ListTrans"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Обновить',iconCls:'icon-reload',iconAlign:'left',size:'small'"></a>

            </div>



        </div>

    </div>

    </div>
</div>


</body>
</html>