#divOverlay_Module_ImgWork{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: rgba(255, 255, 255, 0.95) url('ld.gif') no-repeat center center;
}