<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OrderWear</title>
</head>
<body>
<div th:fragment="OrderWearForm" th:remove="tag">
    <link rel="stylesheet" type="text/css" th:href="@{/css/imgs/orderwear/orderwear.css}"/>
    <div class="easyui-window" id="wOrderWear_Module_OrderWear"  data-options="title:'Заявка на износ',width:1000,height:618,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:false,shadow:true,inline:false,modal:true,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
        <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
            <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:55px;"><div style="display:table;">
                <div class="icon-amortise" style="display:table-cell;width:53px;height:53px;">
                </div>

                <div style="display:table-cell;vertical-align:middle;font-weight:bold;padding:3px;">
                    <span style="">Заявка на износ</span>

                </div>

            </div>

            </div>
            <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:true" >
                <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:165px;"><div style="display:table;">
                    <div style="display:table-row;">
                        <div style="display:table-cell;width:25px;">
                        </div>

                        <div style="display:table-cell;vertical-align:middle;width:100px;text-align:right;padding:20px 3px 10px;">
                            <span style="">Ид.</span>

                        </div>

                        <div style="padding:20px 3px 10px;">
                            <input  id="tbId_Module_OrderWear"  class="easyui-textbox" data-options="multiline:false,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                        </div>

                        <div style="display:table-cell;vertical-align:middle;text-align:right;padding:20px 3px 10px;">
                            <span style="">Номер</span>

                        </div>

                        <div style="display:table-cell;padding:3px;">
                            <input  id="tbNo_Module_OrderWear"  class="easyui-textbox" data-options="multiline:false,width:145,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                        </div>

                        <div style="display:table-cell;width:100px;text-align:right;padding:20px 3px 10px;">
                            <span style="">Дата</span>

                        </div>

                        <div style="display:table-cell;padding:20px 3px 10px;">
                            <input id="dateBox_Module_OrderWear"  type="text" class="easyui-datebox" data-options="panelWidth:250,currentText:'Сегодня',closeText:'Закрыть',okText:'Ок',disabled:false"/>

                        </div>

                    </div>

                    <div style="display:table-row;">
                        <div style="display:table-cell;">
                        </div>

                        <div style="display:table-cell;text-align:right;padding:10px 3px;">
                            <span style="">Инициатор</span>

                        </div>

                        <div style="display:table-cell;padding:10px 3px;">
                            <input  id="tbInit_Module_OrderWear"  class="easyui-textbox" data-options="multiline:false,width:300,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:true,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                        </div>

                        <div style="display:table-cell;padding:10px 3px;">
                            <a  id="btnInit_Module_OrderWear"  href="javascript:void(0);" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'',iconCls:'icon-search',iconAlign:'left',size:'small'"></a>

                        </div>

                        <div style="display:table-cell;">
                        </div>

                        <div style="display:table-cell;text-align:right;padding:10px 3px;">
                            <span style="">Статус</span>

                        </div>

                        <div style="display:table-cell;padding:10px 3px;">
                            <select id="cbStts_Module_OrderWear"  class="easyui-combobox" data-options="height:30,width:175,panelHeight:200,selectOnNavigation:true,editable:false,disabled:false,readonly:false,value:'',valueField:'value',textField:'text'">
                            </select>
                        </div>

                    </div>

                </div>

                    <div style="display:table;">
                        <div style="display:table-row;">
                            <div style="display:table-cell;width:25px;">
                            </div>

                            <div style="display:table-cell;width:100px;text-align:right;padding:10px 3px;">
                                <span style="">Создал</span>

                            </div>

                            <div style="display:table-cell;padding:10px 3px;">
                                <input  id="tbCreate_Module_OrderWear"  class="easyui-textbox" data-options="multiline:false,width:335,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:true,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                            </div>

                            <div style="display:table-cell;width:100px;text-align:right;padding:10px 3px;">
                                <span style="">Изменил</span>

                            </div>

                            <div style="display:table-cell;padding:10px 3px;">
                                <input  id="tbChange_Module_OrderWear"  class="easyui-textbox" data-options="multiline:false,width:335,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:true,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"  type="text"/>

                            </div>

                        </div>

                    </div>

                </div>
                <div data-options="region:'center',collapsible:false,split:false,title:'Список объектов заявки',border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:100%;"><table  id="dgvChilds_Module_OrderWear" class="easyui-datagrid" data-options="fitColumns:true,autoRowHeight:true,striped:false,method:'post',nowrap:true,idField:'orderId',loadMsg:'Идёт згрузка, пожалуйста подождите...',emptyMsg:'',pagination:false,rownumbers:false,singleSelect:false,ctrlSelect:false,checkOnSelect:true,selectOnCheck:true,scrollOnSelect:true,sortOrder:'asc',multiSort:false,remoteSort:false,showHeader:true,showFooter:false,scrollbarSize:18,rownumberWidth:30,editorHeight:24" width="100%" height="100%"><thead >
                <tr><th data-options="title:'Ид. заявки',field:'orderId',width:100,sortable:true,fixed:true"></th>
                    <th data-options="title:'Ид. объекта',field:'objId',width:100,sortable:true,fixed:true"></th>
                    <th data-options="title:'Инв. №',field:'invNo',width:5000,sortable:true,resizable:true"></th>
                    <th data-options="title:'Наименование',field:'name',width:20000,sortable:true,resizable:false"></th>
                    <th data-options="title:'Стоимость',field:'amount',width:8000,align:'right',sortable:true,resizable:true"></th>
                    <th data-options="title:'',field:'uniqId',hidden:true"></th>
                    <th data-options="title:'',field:'del',hidden:true"></th>
                </tr></thead>
                </table>

                </div>
            </div>

            </div>
            <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null" style="width:100%;height:39px;"><div style="display:table;width:100%;">
                <div style="display:table-cell;padding:3px;">
                    <a  id="btnAdd_Module_OrderWear"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Добавить',iconCls:'icon-add',iconAlign:'left',size:'small'"></a>

                    <a  id="btnChange_Module_OrderWear"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Изменить',iconCls:'icon-edit',iconAlign:'left',size:'small'"></a>

                    <a  id="btnDel_Module_OrderWear"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Удалить',iconCls:'icon-remove',iconAlign:'left',size:'small'"></a>

                </div>

                <div style="display:table-cell;width:150px;padding:3px;text-align:right;">
                    <a  id="btnOk_Module_OrderWear"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                    <a  id="btnCancel_Module_OrderWear"  href="javascript:void(0)" class="easyui-linkbutton" data-options="disabled:false,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

                </div>

            </div>

            </div>
        </div>

    </div>
</div>
</body>
</html>