<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="PeriodParamsFormEdit" class="easyui-window" id="wPeriodParamsFormEdit_Module_PeriodParams"
     data-options="title:'Работа с периодическим реквизитом',width:820,height:507,collapsible:false,minimizable:false,maximizable:false,closable:true,closed:false,zIndex:9000,draggable:true,resizable:true,shadow:true,inline:false,modal:false,border:true,constrain:false,iconCls:'icon-edit',noheader:false,collapsed:false,minimized:false,maximized:false">
    <div class="easyui-layout" style="width:100%;height:100%;" data-options="fit:false">
        <div data-options="region:'north',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:55px;">
            <div style="display:table;height:53px;">
                <div Id="pbEditMode_Module_PeriodParams_PeriodParamsFormEdit" class="icon-addmode"
                     style="display:table-cell;width:55px;">
                </div>

                <div style="display:table-cell;vertical-align:middle;">
                    <div style="font-weight:bold; padding: 3px;">
                        <span style="">Работа с периодическим реквизитом</span>

                    </div>

                    <div style="padding: 3px;">
                        <span id="lAction_Module_PeriodParams_PeriodParamsFormEdit" style="">lAction</span>

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'center',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:100%;">
            <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Идентификатор</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txId_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

            </div>

            <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Код параметра</span>

                    </div>

                    <div style="display:table-cell;padding:3px;">
                        <input id="txParamCode_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                    <div style="display:table-cell;">
                        <span style="">Код задачи (таблицы)</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txTaskCode_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

            </div>

            <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Наименование</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txName_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:536,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

            </div>

            <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                        <div style="display:table-cell;width:15px;">
                        </div>

                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">№ п/п</span>

                    </div>

                    <div style="padding: 3px;">
                        <input id="txNom_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                    <div style="display:table-cell;width:15px;">
                        <div style="display:table-cell;width:15px;">
                        </div>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="cbStrict_Module_PeriodParam_PeriodParamsFormEdit"
                               data-options="with:30,height:22,checked:false,disabled:false,label:'Обязательность',labelWidth:120,labelPosition:'after',labelAlign:'left'"
                               class="easyui-checkbox"/>

                    </div>

                </div>

            </div>

            <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Модуль справочника</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txRefferModul_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                    <div style="display:table-cell;width:130px;text-align: right;">
                        <span style="">Код модуля (.js)</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txCodeJs_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

            </div>

            <div style="display:table;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Функция справочника</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txRefferFunc_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Таблица справочника</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txRefferTable_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Код справочника</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txRefferCode_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:true,disabled:false,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

            </div>

            <div style="display:table;padding-top: 5px;">
                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;width:165px;text-align: right;">
                        <span style="">Создал</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txCreator_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                    <div style="display:table-cell;width:130px;text-align: right;">
                        <span style="">Создано</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txCreated_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

                <div style="display:table-row;">
                    <div style="display:table-cell;width:15px;">
                    </div>

                    <div style="display:table-cell;text-align: right;">
                        <span style="">Изменил</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txChanger_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                    <div style="display:table-cell;width:130px;text-align: right;">
                        <span style="">Изменено</span>

                    </div>

                    <div style="display:table-cell;padding: 3px;">
                        <input id="txChanged_Module_PeriodParams_PeriodParamsFormEdit" class="easyui-textbox"
                               data-options="multiline:false,width:200,prompt:'',value:'',type:'text',editable:false,disabled:true,readonly:false,iconAlign:'right',iconWidth:18,buttonText:'',buttonIcon:'',buttonAlign:'right'"/>

                    </div>

                </div>

            </div>

        </div>
        <div data-options="region:'south',collapsible:false,split:false,border:true,minWidth:10,minHeight:10,maxWidth:10000,maxHeight:10000,expandMode:'float',collapsedSize:28,hideExpandTool:false,hideCollapsedContent:true,iconCls:null,href:null"
             style="width:100%;height:38px;">
            <div style="height:33px;text-align: right; padding: 3px;">
                <a id="btnOk_Module_PeriodParams_PeriodParamsFormEdit" href="javascript:void(0)"
                   class="easyui-linkbutton"
                   data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'ОК',iconCls:'icon-ok',iconAlign:'left',size:'small'"></a>

                <a id="btnCancel_Module_PeriodParams_PeriodParamsFormEdit" href="javascript:void(0)"
                   class="easyui-linkbutton"
                   data-options="disabled:false,width:80,toggle:false,selected:false,plain:false,text:'Отмена',iconCls:'icon-cancel',iconAlign:'left',size:'small'"></a>

            </div>

        </div>
    </div>

</div>

</body>
</html>